<!--The content below is only a placeholder and can be replaced.-->
<!-- class main-app currently unreferenced in styles -->

  
  <div class="main-window">
      
    <div id="modal-html-view">
        <div *ngIf="getOutputDepth() > 345" class="content-message"><p class="message">This window scrolls</p></div>
        <span (click)="closeModal()" class="exit">&otimes;</span>
      <div id="html-container">

          <p id="pretty-print">

          </p>
          
      </div>
      
    </div>
      
  
      <div class="selection-window" id="sidebar">
          <label class="list-label">General</label>
                                                            <!-- toggleAdd(E, type, identifiedBy, class,[OtherOpt]) *-* See renderable-item-component::makeField() for OtherOpt dictionary -->
          <button class="form-option-btn" id="recaptcha"     (click)="toggleAdd($event,'recaptcha', 'recaptchaField')">      <span class="left">Recaptcha</span>          <span class="plus">&oplus;</span></button>
          <button class="form-option-btn" id="text"             (click)="toggleAdd($event, 'text', 'nameField')">        <span class="left">First Name</span>         <span class="plus">&oplus;</span></button>
          <button class="form-option-btn" id="text"             (click)="toggleAdd($event, 'text', 'nameField', 1)">        <span class="left">Last Name</span>          <span class="plus">&oplus;</span></button>
          <button class="form-option-btn" id="email"            (click)="toggleAdd($event, 'email', 'emailField')">     <span class="left">Email</span>              <span class="plus">&oplus;</span></button>
          <button class="form-option-btn" id="tel"            (click)="toggleAdd($event,'tel', 'telField')">               <span class="left">Phone Number</span>       <span class="plus">&oplus;</span></button>
          <button class="form-option-btn" id="select"         (click)="toggleAdd($event,'select', 'selectField')">  <span class="left">Select Locale</span>      <span class="plus">&oplus;</span></button>
          <button class="form-option-btn" id="textarea"         (click)="toggleAdd($event,'textarea', 'textareaField')">  <span class="left">Comment Area</span>      <span class="plus">&oplus;</span></button>
          <button class="form-option-btn" id="textarea"         (click)="toggleAdd($event,'input', 'subButtonField')">  <span class="left">Submit Button</span>      <span class="plus">&oplus;</span></button>
          <hr>
          <label class="list-label" for="">Widgets<br><sup>Expanded until export</sup></label>
          <button class="form-option-btn" id="schools-widget"    (click)="toggleAdd($event, 'widget', 'schoolWidget')">     <span class="left">Schools Widget</span>         <span class="plus">&oplus;</span></button>
          <hr>
          <label class="list-label">Selection</label>
          <button class="form-option-btn" id="checkbox" (click)="toggleAdd($event,'checkbox', 'checkboxField')">  <span class="left">Checkbox</span>    <span class="plus">&oplus;</span></button>
          
          <button class="form-option-btn" id="radio"    (click)="toggleAdd($event,'radio', 'radioField')">     <span class="left">Radio</span>         <span class="plus">&oplus;</span></button>
          <hr>
          <label class="list-label">Misc.</label>
          <button class="form-option-btn" id="file"     (click)="toggleAdd($event,'file', 'fileField')">      <span class="left">File</span>          <span class="plus">&oplus;</span></button>
          <button class="form-option-btn" id="password" (click)="toggleAdd($event, 'password', 'passwdField')">  <span class="left">Password</span>           <span class="plus">&oplus;</span></button>
          <button class="form-option-btn" id="color"    (click)="toggleAdd($event,'color', 'colorField')">     <span class="left">Color</span>         <span class="plus">&oplus;</span></button>
          <button class="form-option-btn" id="date"     (click)="toggleAdd($event,'date', 'dateField')">      <span class="left">Date</span>          <span class="plus">&oplus;</span></button>
          <button class="form-option-btn" id="number"   (click)="toggleAdd($event,'number', 'numberField')">    <span class="left">Number</span>        <span class="plus">&oplus;</span></button>
          <button class="form-option-btn" id="range"    (click)="toggleAdd($event,'range', 'rangeField')">     <span class="left">Range</span>         <span class="plus">&oplus;</span></button>
          <button class="form-option-btn" id="time"     (click)="toggleAdd($event,'time', 'timeField')">      <span class="left">Time</span>          <span class="plus">&oplus;</span></button>
          <div class="g-recaptcha" data-sitekey="6Lc3HWQUAAAAAAmrhK6RI77MSoHAmRH__OxEDDeB" data-callback="enableBtn"></div>
          
      </div>
  
      <div class="main-app" id="view-form">
  
        <div id="consult-form-container" style="background-color:#343e79;max-width:1120px;padding:15px 40px;color:#fff;">
          <form id="lead-gen-form-input" method="POST" action="/lead-gen-handler.php">
            <input type="hidden" name="listrak_source" value="2403731" />
            <input type="hidden" name="listrak_external_id" value="13064" />
            <input type="hidden" name="description" value="Back to Homeschool" />
            <input type="hidden" name="lead_source" value="Demme Learning Blog" />
            <input type="hidden" id="referral_url" name="referral_url" value="">
          </form>
        </div>
  
      </div>
  
  </div> <!-- MAIN WINDOW -->

  <div [class.can-show]="!modalActive"
  [class.can-hide]="modalActive"  class="option-wrapper">
    <div id="edit-Window">
        <h3 id="editor-title">Options</h3>
        <div id="in-editor">
          
        </div>
        <span class="math-spell-switch">
            <ul [class.can-show]="!modalActive"
                [class.can-hide]="modalActive" >
                <li (click)="stylizer('SYS')" id="SYS" class="list-group-item">S.Y.S.</li>
                <li (click)="stylizer('MUS')"  id="MUS" class="active list-group-item">M.U.S.</li>
                <span style="position:relative; top:12px; right:10px; font-weight: 500;">Styles</span>
              </ul>
        </span>
        <span id="execs">
          <button type="button" [disabled]="modalActive" (click)="removeRecent(true)" class="inline btn btn-outline-danger">Clear</button>
          <button type="button" [disabled]="modalActive" (click)="removeRecent()" class="inline btn btn-outline-dark">Remove</button>
          <button type="button" [disabled]="modalActive" (click)="displayHTML()" class="inline btn btn-outline-primary">&lsaquo; HTML &rsaquo;</button>
        </span>
        <hr>
    </div>
    
  </div> <!-- Option Wrapper -->

  <!-- <script type="text/javascript">

    function renderCapcha() {
      var captchaContainer = null;
      var loadCaptcha = function() {
        captchaContainer = grecaptcha.render('captcha_container', {
          'sitekey' : 'Your sitekey',
          'callback' : function(response) {
            console.log(response);
          }
        });
      };
    }

  </script> -->
  <script src="https://www.google.com/recaptcha/api.js?onload=toCapcha&render=explicit" async defer></script>
  