<!--The content below is only a placeholder and can be replaced.-->
<!-- class main-app currently unreferenced in styles -->

  
 
      
    <div id="modal-html-view">
        
        <span (click)="closeModal()" class="exit">&otimes;</span>
      <div id="html-container">
        <div *ngIf="getOutputDepth() > 345" class="content-message"><p class="message">This window may be edited</p></div>

          <textarea id="pretty-print"></textarea>

       
          <button (click)="copy2clip()" class="btn btn-success" id="copy-btn">COPY</button>
      </div>
      
    </div>
    <div class="main-window">
      <div class="selection-window" id="sidebar">

        <div class="initial-layer">
                      

        </div>


        <div class="initial-bypass">

          <button class="form-option-btn" id="resourceListrak"   [disabled]="resourceMonitorOpen"       (click)="openResource($event, 'resourceMonitor', 'GeneralResources')">      <span class="left">Resource Monitor</span> <span class="plus">&#8628;</span></button>
          <label class="list-label">General</label>
                                                            <!-- toggleAdd(E, elem, identifiedBy [,OtherOpt]) *-* See renderable-item-component::makeField() for OtherOpt dictionary -->
          <button class="form-option-btn" id="text"             (click)="toggleAdd($event, 'text', 'nameField')">           <span class="left">First Name</span>          <span class="plus">&oplus;</span></button>
          <button class="form-option-btn" id="text"             (click)="toggleAdd($event, 'text', 'nameField', 1)">        <span class="left">Last Name</span>           <span class="plus">&oplus;</span></button>
          <button class="form-option-btn" id="email"            (click)="toggleAdd($event, 'email', 'emailField')">         <span class="left">Email</span>               <span class="plus">&oplus;</span></button>
          <button class="form-option-btn" id="tel"              (click)="toggleAdd($event,'tel', 'telField')">              <span class="left">Phone Number</span>        <span class="plus">&oplus;</span></button>
          <button class="form-option-btn" id="select"           (click)="toggleAdd($event,'select', 'selectField')">        <span class="left">Select Location</span>     <span class="plus">&oplus;</span></button>
          
          <button class="form-option-btn" id="textarea"         (click)="toggleAdd($event,'textarea', 'textareaField')">    <span class="left">Comment Area</span>        <span class="plus">&oplus;</span></button>
          <button class="form-option-btn" id="recaptcha"        (click)="toggleAdd($event,'recaptcha', 'recaptchaField')">  <span class="left">Recaptcha</span>           <span class="plus">&oplus;</span></button>
          <button class="form-option-btn" id="submit"           (click)="toggleAdd($event,'submit', 'subButtonField')">     <span class="left">Submit Button</span>       <span class="plus">&oplus;</span></button>
          <hr>
          <label for="" class="list-label">Titles</label>
          <button class="form-option-btn" id="h2-heading"       (click)="toggleAdd($event, 'headingTwo', 'heading')">       <span class="left">H2 Title</span>       <span class="plus">&oplus;</span></button>

          <hr>
          <label for="" class="list-label">Address</label>
          <button class="form-option-btn" id="zip-code"         (click)="toggleAdd($event,'text', 'zipField')">             <span class="left">Zip Code</span>            <span class="plus">&oplus;</span></button>
          <button class="form-option-btn" id="address_one"         (click)="toggleAdd($event,'text', 'addressField')">             <span class="left">Address_1</span>            <span class="plus">&oplus;</span></button>
          <button class="form-option-btn" id="address_two"         (click)="toggleAdd($event,'text', 'addressField', 2)">             <span class="left">Address_2</span>            <span class="plus">&oplus;</span></button>
          <hr>
          <label class="list-label" for="">Widgets<br><sup>Expanded until export</sup></label>
          <button class="form-option-btn"  [disabled]="activeSchoolWidget" id="schools-widget"    (click)="toggleAdd($event, 'widget', 'schoolWidget')">     <span class="left">Schools Widget</span>         <span class="plus">&oplus;</span></button>
          <button class="form-option-btn"  [disabled]="activeAddressWidget" id="address-widget"   (click)="toggleAdd($event, 'widget', 'addressWidget')">    <span class="left">Address Widget</span>         <span class="plus">&oplus;</span></button>
          <hr>

          <label class="list-label">Selection</label>
          <button class="form-option-btn" id="checkbox" (click)="toggleAdd($event,'checkbox', 'checkboxField')">  <span class="left">Checkbox</span>    <span class="plus">&oplus;</span></button>
          <button class="form-option-btn" id="radio"    (click)="toggleAdd($event,'radio', 'radioField')">     <span class="left">Radio</span>         <span class="plus">&oplus;</span></button>
          <hr>

          <label class="list-label">Misc.</label>
          <button class="form-option-btn" id="file"     (click)="toggleAdd($event,'file', 'fileField')">          <span class="left">File</span>          <span class="plus">&oplus;</span></button>
          <button class="form-option-btn" id="password" (click)="toggleAdd($event, 'password', 'passwdField')">   <span class="left">Password</span>      <span class="plus">&oplus;</span></button>
          <button class="form-option-btn" id="color"    (click)="toggleAdd($event,'color', 'colorField')">        <span class="left">Color</span>         <span class="plus">&oplus;</span></button>
          <button class="form-option-btn" id="date"     (click)="toggleAdd($event,'date', 'dateField')">          <span class="left">Date</span>          <span class="plus">&oplus;</span></button>
          <button class="form-option-btn" id="range"    (click)="toggleAdd($event,'range', 'rangeField')">        <span class="left">Range</span>         <span class="plus">&oplus;</span></button>
          <button class="form-option-btn" id="number"   (click)="toggleAdd($event,'number', 'numberField')">      <span class="left">Number</span>        <span class="plus">&oplus;</span></button>
          <button class="form-option-btn" id="time"     (click)="toggleAdd($event,'time', 'timeField')">          <span class="left">Time</span>          <span class="plus">&oplus;</span></button>
        </div>


      </div>
      <!-- Hidden Element Editor -->
      <div class="main-app" id="view-form" [class]="whichStyle ? 'mus-color' : 'sys-color'">

        <div id="res-form" [class.resource-options]="resourceMonitorOpen" [class.hideme]="!resourceMonitorOpen">
          <h3>Hidden Resource Meta Values</h3><hr>
          <div class="inner-res-form">
            <label class="resource-labels" for="">Description</label>
            <select class="resource-editor-field" name="" id="both-resource-description">
              <option value="Back to Homeschool">Back to Homeschool</option>
              <option value="Addition Facts Lead Gen Form">Addition Facts Lead Gen Form</option>
              <option value="Homeschool Sample Lead Gen Form">Homeschool Sample Lead Gen Form</option>
              <option value="Placement Consultation for Alpha">Placement Consultation for Alpha</option>
              <option value="SYS Homepage Lead Gen Form">SYS Homepage Lead Gen Form</option>
              <option value="MUS Slider Lead Gen Form">MUS Slider Lead Gen Form</option>
              <option value="MUS Main Contact Form">MUS Main Contact Form</option>
            </select>

            <label class="resource-labels" for="">Lead Source</label>
            <select class="resource-editor-field" name="" id="both-resource-lead-source">
              <option value="Demme Learning Blog">Demme Learning Blog</option>
              <option value="Math-U-See Website">Math-U-See Website</option>
              <option value="Placement Tool">Placement Tool</option>
              <option value="Spelling You-See Website">Spelling You-See Website</option>
            </select>

            <input type="checkbox" id="append-listrak">
            <label class="resource-labels" for="">Enable Listrak Resource</label>

            <br>
            <label class="resource-labels" for="">Listrak Source</label>
            <input type="text" id="listrak-source-resource" placeholder="Edit" disabled>
            <br>
            <label class="resource-labels" for="">Listrak External Id.</label>
            <input type="text" id="listrak-externalid-resource" placeholder="Edit" disabled>
            <hr>
            <button (click)="resourceMonitorOpen = false" class="btn btn-success new-btn">Done</button>
          </div>
        </div>

        <div id="sub-view">
          <div id="consult-form-container" style="background-color:#343e79;max-width:1120px;padding:15px 40px;color:#fff;">
            <!-- FORM START -->
            <form id="lead-gen-form-input" method="POST" action="/lead-gen-handler.php">
              <input type="hidden" name="listrak_source" value="2403731" />
              <input type="hidden" name="listrak_external_id" value="13064" />
              <input type="hidden" name="description" value="Back to Homeschool" />
              <input type="hidden" name="lead_source" value="Demme Learning Blog" />
              <input type="hidden" id="referral_url" name="referral_url" value="">
            </form>
          </div>
        </div>

      </div>
  
  </div> <!-- MAIN WINDOW -->

  <div [class.can-show]="!modalActive"
  [class.can-hide]="modalActive"  class="option-wrapper">
    <div id="edit-Window">
        <h3 id="editor-title">Options</h3>
        <div id="in-editor">
          
        </div>
        <span class="math-spell-switch">
            <ul [class.can-show]="!modalActive"
                [class.can-hide]="modalActive" >
                <li (click)="stylizer('SYS')" id="SYS" class="list-group-item">S.Y.S.</li>
                <li (click)="stylizer('MUS')"  id="MUS" class="active list-group-item">M.U.S.</li>
                <span style="position:relative; top:12px; right:20px; font-weight: 500;">Styles</span>
              </ul>
        </span>
        <span id="execs">
          <button type="button" [disabled]="modalActive" (click)="toggleRemove(true)" class="inline btn btn-outline-danger">Clear</button>
          <button type="button" [disabled]="modalActive" (click)="toggleRemove()" class="inline btn btn-outline-dark">Remove</button>
          <button type="button" [disabled]="modalActive" (click)="displayHTML()" class="inline btn btn-outline-primary">&lsaquo; HTML &rsaquo;</button>
        </span>
        <hr>
    </div>
    
  </div> <!-- Option Wrapper -->
  <div class="bottom-feed">
    <p class="bottom-text">Current Resource: </p>

  </div>
  <script src="https://www.google.com/recaptcha/api.js?onload=toCapcha&render=explicit" async defer></script>
  