/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
input { margin:10px 0; }
body  { margin:0 0 0 0; padding:0; background:rgb(6, 19, 61); cursor:default;}

.active {
    border:1px solid rgb(13, 132, 201);
    color:rgb(13, 132, 201);
}
#modal-html-view {
    display: none;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0,0,0,0.3);

}
.mus-color {
    background:#4e5a9c;
}
.sys-color {
    background:rgb(255, 245, 226);
}
.can-hide {
    background-color:white;
    position:relative;
    animation-name: h1;
    -moz-animation-name:h1;
    -o-animation-name:h1 ;
    -webkit-animation-name:h1;
    animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    
}
@keyframes h1           {
    1% {bottom:0px;}
    20%{bottom:25px}
    98% {visibility:hidden; display:none;}
    100%{bottom:-100px; visibility:hidden; display:none;}
}
@-o-keyframes h1        {
    1% {bottom:0px;}
    20%{bottom:25px}
    98% {visibility:hidden; display:none;}
    100%{bottom:-100px; visibility:hidden; display:none;}
}
@-moz-keyframes h1      {
    1% {bottom:0px;}
    20%{bottom:25px}
    98% {visibility:hidden; display:none;}
    100%{bottom:-100px; visibility:hidden; display:none;}
}
@-webkit-keyframes h1   {
    1% {bottom:0px;}
    20%{bottom:25px}
    98% {visibility:hidden; display:none;}
    100%{bottom:-100px; visibility:hidden; display:none;}
}
.can-show {
    background-color:white;
    position:relative;
    display:inline ;
    bottom:0;
    
}
#anylabel {
    display:inline;
    margin: auto 5px;
    position:relative;
    bottom: 13px;
}
#ngsubmit-els-editor {
    width: 300px;
}
#ngrequirement {
    position:relative;
    bottom: 15px;
    margin: auto 4px auto 15px;
}

.title-bar {
    color:white;
    padding:35px;
}
#copy-btn {
    font-variant: small-caps;
    width:20%;
    margin:auto 40%;
}
#pretty-print-box {
    border:1px solid white;
    margin:auto auto;

}
#pretty-print {

    width: 100%;
    color: rgb(72, 255, 0);
    margin:0;
    word-wrap:break-word;
    padding:25px;
    background:rgba(0,0,0,0.8);
    height:80%;
    
}
.g-recaptcha{
    padding-top:15px;
    text-align:center;
    height:85px;
    width:300px;
    background-color:grey;
    border-radius:4px;
    
}
.g-recaptcha:after {

    content: 'Recaptcha - Ready to go \1F44D ';
}

div>#html-container {
    border:1px solid white;
    padding:0px;
    height:60%;
    width: 60%;
    margin: 45px auto;
    overflow-y:scroll;
    align-content:center;
}
.content-message {
    display:block;
    background:rgba(0,0,0,0.9);
    width: 100%;
    margin: 10px auto 0px auto;
    text-align:center;
    
}
.message {
    margin-bottom: 0px;
    color:white;
    font-variant:small-caps;
}


.exit {
    position: absolute;
    top:0;
    right: 0;
    margin:0px 260px;
    outline: none;
    font-size:3em;
    color:white;
}

.exit:hover{
    color:tomato;
    cursor:default;
}

.raise-modal {
    overflow:hidden;
}
.list-label {
    padding:5px;
    margin:5px;
}

#in-editor {
    padding:15px;
    width:100%;
    height:25px;
    display:inline-block;
}

.selection-window button:hover {
    background:rgb(0, 0, 0);
    color:rgb(0,255,55);
}

.disable-main{
    overflow: hidden;
}

/* + Button */
.form-option-btn {
    width:100%;
    padding:2px;
    background-color:white;
}
.form-option-btn span {
    font-variant:small-caps;
    font-size:1.2em;
    letter-spacing:3px;
}
.form-option-btn .left {
    text-align: left;
    float:left;

}

.form-option-btn .plus {
    /* The plus symbol */
    text-align:right;
    float:right;
    outline: none;
    color: #2118a8;
    font-weight: 100;
}

#oplus{
    float:right;
    width:75px;
    flex:0;
    border:none;
}
#add_row {
    float:right;
    /* padding: 0px 28px 8px; */
    font-size: 1em;
    width: auto;
    background: transparent;
    border: none;
    
    line-height: 1;
    
}

/* Selection Buttons */
#sidebar {
    flex: 0.5;
    overflow-y:scroll;
}
/* The middle renderer view */
#view-form {
    flex:1;
    padding:15px;
    overflow-y:scroll;
}

.main-window{
    display:flex;
    border:1px solid  rgba(255, 136, 0, 0.3);

}

/* bottom bar */
.option-wrapper {
    background:lavenderblush;
    position:absolute;
    padding:2px;
    bottom:0;
    width:100%;
}
/* bottom left*/
#edit-Window {
    margin: 0px 75px;
    display:flex;
    display:-webkit-flex;
}
#edit-Window .math-spell-switch {
    -webkit-flex: 1;  /* Safari 6.1+ */
    -ms-flex: 1;  /* IE 10 */    
    flex: 1;
}
#edit-Window #execs {
    -webkit-flex: 1;  /* Safari 6.1+ */
    -ms-flex: 1;  /* IE 10 */    
    flex: 1;
}
#edit-Window #in-editor {
    -webkit-flex: 0.45;  /* Safari 6.1+ */
    -ms-flex: 0.45;  /* IE 10 */    
    flex: 0.45;
}

#editor-title {
    display:inline-block;
    margin-right:8px;
    position:relative;
    bottom:-5px;
}
#execs {
    display:inline-block;
    margin-top:6px;
}
/* Create // Remove // Clear */
#execs button {
    float:right;
}
button.inline {
    margin:0 2px;
}
/* Inserted dynamically - bottom left */
#nglabeling {
    display:inline;
    position:relative;
    font-size:12px;
    bottom:12px;
}

/*  */
.math-spell-switch{
    width:30%;
    flex:0.5;
}
.math-spell-switch * {
    float:right;
    display:inline;
}

.math-spell-switch li:hover {
    border:1px solid rgb(13, 132, 201);
    color:rgb(13, 132, 201);
}
.math-spell-switch li.active:hover {
    border:1px solid rgb(13, 132, 201);
    color:white;
}

@media(max-width : 1100px)
{
    .main-window {
        margin:0;
    }
    
    #edit-Window {
        margin: 0px 0px 0px 15px;
    }

}
